<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en_US">
<head>
<!-- accessbility information messages -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Get started with eBay</title>
<script type="text/javascript">
	var layer = false;
</script>
<link
	href="Get%20started%20with%20eBay_files/kp2d0yxoguy0xnebuz2qnu0zc2t.css"
	type="text/css" rel="stylesheet">
<link
	href="Get%20started%20with%20eBay_files/ryt1iptmaazydbfqvfb5q025xe4.css"
	type="text/css" rel="stylesheet">
<style>
#statErr li {
	display: none;
}
</style>
</head>
<body>

	<div class="sz980">
		<div class="pgWidth">
			<br>
			<div class="gh-acc-exp-div">
				<a id="gh-hdn-stm" class="gh-acc-a" href="#mainContent">Skip to
					main conte</a>
			</div>
			<div id="gh" class="gh-flex gh-w gh-minH no-touch">
				<br>
				<table class="gh-tbl">
					<tbody>
						<tr>
							<td class="gh-td"><a href="http://www.ebay.com/"
								class="iclg" _sp="m570.l2586" id="gh-la">Bay<img
									style="clip: rect(47px, 118px, 95px, 0px); position: absolute; top: -47px; left: 0pt;"
									alt=""
									src="Get%20started%20with%20eBay_files/fxxj3ttftm5ltcqnto1o4baovyl.png"
									id="gh-logo" height="200" width="250"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<h1 class="mg">
				<span class="shpt" id="maincontent">Get started with eBay</span><a
					name="mainContent" tabindex="-1"
					style="top: 0px; left: -9999px; position: absolute;">Get
					started with eBay</a>
			</h1>
			<table class="mgtb" role="presentation">
				<tbody>
					<tr>
						<td valign="top" width="80%"><div class="pdb20">
								<h2 class="fntNml">
									<span class="col"> Create your personal account. </span>
								</h2>
							</div></td>
						<td valign="top" width="20%"><br></td>
					</tr>
					<tr>
						<td class="contd cntCr" valign="top" width="80%"><div
								class="prg">

								<form action="Signup" method="post" name="SignupForm"
									id="SignupForm">
									<div class="sm-co sm-er" id="statErr" style="display: none;">
										<p id="ertx" tabindex="0">
											Please fix the errors highlighted in the fields below:<span
												class="clr"></span>
										</p>
									</div>
									<div id="ppa_id">
										<br>
										<div class="txc">
											<div class="rfl" id="firstname_d">
												<div class="fv-w">
													<label for="firstname">First name</label>
													<div class="fv-tw">
														<input maxlength="64" name="firstname" id="firstname"
															size="32" class="w242" v="1" t="1" a="1"
															aria-autocomplete="none" aria-required="true" type="text">
														<div role="alert" aria-live="assertive">
															<div id="firstname_w" class="rdn">Please enter your
																first name.</div>
														</div>
													</div>
												</div>
											</div>
											<div class="rln" id="lastname_d">
												<div class="fv-w">
													<label for="lastname">Last name</label>
													<div class="fv-tw">
														<input maxlength="64" name="lastname" id="lastname"
															size="32" class="w242" v="1" t="1" a="1"
															aria-autocomplete="none" aria-required="true" type="text">
														<div role="alert" aria-live="assertive">
															<div id="lastname_w" class="rdn">Please enter your
																last name.</div>
														</div>
													</div>
												</div>
											</div>
											<div class="rcl"></div>
											<div>
												<div class="rfl">
													<div class="fv-w wtx">
														<label for="email">Email</label>
														<div class="fv-tw">
															<input maxlength="64" name="email" id="email" size="32"
																class="wtx" v="1" t="1" a="1" aria-required="true"
																type="text">
															<div role="alert" aria-live="assertive">
																<div id="email_w" class="rdn">Please enter your
																	email address.</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="rcl"></div>
											<br>
											<div class="pass_wrp">
												<div class="rfl w202" id="PASSWORD_d">
													<div class="fv-w">
														<label for="PASSWORD">Create your password</label>
														<div class="fv-tw">
															<input maxlength="64" name="pass" value="" id="pass"
																size="32" class="pwd" autocomplete="off"
																autocorrect="off" aria-describedby="PASSWORD_id" v="1"
																t="1" a="1" aria-autocomplete="none"
																oncopy="return false" aria-required="true"
																type="password">
															<div role="alert" aria-live="assertive">
																<div id="PASSWORD_w" class="rdn">Please enter your
																	password.</div>
															</div>
														</div>
													</div>
												</div>
												<b class="rfl" id="ptck"></b>
												<div class="rfl re-mt" id="pass_st">
													<span class="g-nav" aria-live="assertive" id="txt">Strength</span>
													<div class="re-pn">
														<div id="pwds"></div>
													</div>
												</div>
												<div class="pg-tw re-dt" id="PASSWORD_id">
													<b class="tip"></b>
													<div class="re-p9">
														<ul>
															<li>Use 6 to 64 characters.<br>
															</li>
															<li>Besides letters, include at least a number or
																symbol (!@#$%^*-_+=).<br>
															</li>
															<li>Password is case sensitive.<br>
															</li>
															<li>Avoid using the same password for multiple
																sites.<br>
															</li>
														</ul>
													</div>
												</div>
												<div class="rcl"></div>
											</div>
											<div>
												<div class="fv-w">
													<label for="rpass">Confirm password</label>
													<div class="fv-tw">
														<input maxlength="64" name="rpass" value="" id="rpass"
															size="32" class="pwd" autocomplete="off"
															autocorrect="off" v="1" a="1" aria-autocomplete="none"
															oncopy="return false" aria-required="true"
															type="password">
														<div role="alert" aria-live="assertive">
															<div id="rpass_w" class="rdn">Please enter your
																password again.</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<br>

											<div class="h40">
												<div class="rfl">
													<input id="submitBtn" name="submitBtn" class="btn btn-prim" value="Submit"
														type="submit">
												</div>
											</div>
										</div>
								</form>
								<br>
							</div></td>
						<td id="lcont" valign="top" width="20%"><div class="pdLft">
								<div>
									<div class="si-lr">
										<div class="si-re">
											<div class="si-pd">
												<div class="si-sp si-fl g-hlp si-fn">
													<h2>
														<b>Already have an account?</b>
													</h2>
												</div>
												<form action="SigninRedirect" method="get" id="signinForm"
													name="signinForm">
													<span><input id="w1-3" class="btn btn-ter"
														value="Sign in" type="submit"></span>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>
		<img id="track" alt=""
			src="Get%20started%20with%20eBay_files/eBayISAPI.gif" height="1"
			width="1"><img id="trackFb" alt="" src="" height="1" width="1">&nbsp;
		<div id="glbfooter" class="gh-w gh-flex">
			<div>
				<div id="rtm_html_1650"></div>
				<div id="rtm_html_1651"></div>
			</div>
			<h2 class="gh-ar-hdn">Additional site navigation</h2>
			<div id="gf-t-box">
				<br>
			</div>
		</div>
		<div id="cfly" class="cl-ta errIco">
			<div class="thr thrS">
				<div id="throbberID_th" style="display: none;" class="thr-img thr-p">
					<div class="thr-txt">Processing...</div>
				</div>
			</div>
			<div id="con_id" class="cl-ta">
				<div class="rc-c" id="infDv">Welcome ##1##! Your eBay user ID
					will be ##2##.</div>
				<div class="rc-st" id="pEml">We'll send messages regarding
					your account to: ##1##</div>
				<div class="cl-p1">
					<div class="rc-lt flt">
						<button id="cfBtn" class="btn btn-prim">Continue</button>
					</div>
					<div class="mT">
						<a id="backlnk" href="javascript:;">Change email address</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div aria-describedby="oly_1-ariadesc" style="display: none;"
		id="oly_1" class="oly bub sm" tabindex="-1" role="alertdialog">
		<div class="arr"></div>
		<div id="oly_1-ariadesc" class="offscreen"></div>
		<div class="oly-h"></div>
		<a href="javascript:;" class="oly-c" data-dismiss="olay" title="close"></a>
		<div class="oly-b"></div>
		<div class="oly-f"></div>
	</div>
	<br>
	<div aria-describedby="oly_2-ariadesc" style="display: none;"
		id="oly_2" class="oly" tabindex="-1" role="alert">
		<div id="oly_2-ariadesc" class="offscreen"></div>
		<div class="oly-h"></div>
		<a href="javascript:;" class="oly-c" data-dismiss="olay" title="close"></a>
		<div class="oly-b"></div>
		<div class="oly-f"></div>
	</div>
	<div id="screenReaderStatus" aria-live="assertive" class="g-hdn"></div>
	<br>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
	<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script>
    var validator = $("#SignupForm").validate({
    rules: {
        firstname: 
        {
        required : true
        },
        lastname: 
        {
        required: true
        },
        email: 
        {
         required: true,
		 email: true,
         remote: "Checkemail"

        },
        pass: 
        {
        required: true,
        minlength: 6,
        equalTo: "#rpass"
        },
        rpass:
        {
        required: true,
        equalTo: "#pass"
        }
        },
     messages:
     {
        firstname: "Required",
        lastname: "Required",
        email :
        {
        required : "Required",
        email: "Invalid Email",
        remote : "This email id has already been taken"
        },
        pass :
        {
        required : "Required"
        },
        rpass :
        {
        required : "Required"
        }
        
     }
     
    });
   

</script>
    </script>
</body>
</html>