
<!DOCTYPE html>
<html>
  <head>

    <title></title>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 


    <script>
    $( document ).ready(function() {
        console.log( "document loaded" );
		 $("#header").load("header"); 
    });
 
    $( window ).load(function() {
        console.log( "window loaded" );
    });
    </script>
  </head>
  <body>
<div id="header">
</div>
<div id="productForm" style="margin-left:50px;">
<form method="post" id="ezForm" name="ezForm" enctype="multipart/form-data" action="UploadProductImage">

  <table style="text-align: left; width: 600px; height: 80px;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: center; width: 40px;">Category : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <br>
        </td>
        <td style="vertical-align: center; width: 120px;">
        <select id="Category" name="Category" style="width: 250px;">
		 <option value="-Select-">-Select-</option>
        </select>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: center;">Sub Category :<br>
        </td>
        <td style="vertical-align: center;">
        <select id="SubCategory" name="SubCategory" style="width: 250px;">

 
        </select>
        </td>
      </tr>
    </tbody>
  </table>
  </br>
  <div >
                  
                                    
                                         
                                        <div >
                                            <div>
                                                <label >Descriptive Title: </label>
                                                        
                                            <input style="margin-left: 28px;" id="title" name="title" size="70" maxlength="80" type="text">
                                            (80 Characters)
                                                
                                                
                                            </div>
                                        </div>
   </div>
   </br>
          <div>
                                      
                                        <div class="secHead" >
                                                                                     
                                            <h2>Add Product Picture:</h2>
                                           
                                        </div>
										</br>
                                        <table border="0" cellpadding="0" cellspacing="10">
                                            <tbody>
                                                <tr valign="top">
                                                    <td><div >
                                                         
                                                            <div >
                                                                <div id="picFrm1" class="picFrm picFrmIE6">
                                                                    <div id="picFrmTxt" class="picTxt" style="display: none; visibility: hidden;">Your
                                                                        Gallery Picture</div>
                                                                    <div id="picWellLyr1" class="picwell">
                                                                        <img id="picWell1" src="/eBay _ Sell _ Create Your Listing_files/camera.gif" class="camIcon" alt="Add a photo">
                                                                    </div>
                                                                    <span class="btn" id="lyrAddPic1" name="lyrAddPic1">
                                                                    <span class="btn_whiteRt">
                                                                    
                                                                    <input name="imageFile" id="imageFile" type="file">
                                                                  <!--   <input id="saveImage" name="saveImage" value="Save" type="submit"> -->
                                                                    
     
                                                            </span></span></div>
                                                            
                                                            <input id="pictureUrl" name="pictureUrl" tabindex="-1" value="" type="hidden">
                                                        </div></div>
														</td>
                                                        <td><br>
</td>
                                                       </tr>
                                            </tbody>
                                        </table>
                                        
                                             <input name="selfHostGallery" value="false" type="hidden"><input name="selfHostGalleryUrl" value="" type="hidden">
                                    </div>
</br>
</br>
	<div id="pricediv">	
									 <div class="sec">
                                        <a name="secHdr3_anch"></a>
                                        <div class="secHead" id="picHd">
                                            <div>
                                                <h2>Item Description</h2>
                                            </div>
                                        </div>
                                        <fieldset id="attrBox" class="fldBoxTags" style="display: block;">
                                               <div id="attrsBox">
                                             
                                                <div id="attr" style="display: block;">
												</br>
												
                                                              <div id="itmspctle">
                                                             Buyers often refine their search using these item
                                                            specifics. If you don't provide these details here, your
                                                            listing may not appear in their search results.
                                                            </div>
                                                        <div class="itm_spec">
                                                            <table style="width: 702px; height: 143px;" summary="" border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top"><span class="nextGenBox"><div id="ItemSpecifics">
                                                                                    <div id="attrCond" class="idtTop fullWdth">
                                                                                        <div>
																						</br>
                                                                                            <label id="" for="itemCondition" style="font-weight: bold;">Item
                                                                                                condition&nbsp;</label>
                                                                                           
                                                                                          
                                                                                            <select id="itemCondition" name="itemCondition"><option selected="selected" value="-1">-Select-</option>
                                                                                                <option value="1">New</option>
                                                                                                <option value="2">Manufacturer
                                                                                                    refurbished</option>
                                                                                                <option value="3">Seller refurbished</option>
                                                                                                <option value="4">Used</option>
                                                                                        
                                                                                            </select>
																							<div>
																							</br>
																							<h3> MPN </h3>
																							</br>
																							<div>(Enter the manufacturer’s part number to optimize your listing for internet search.)<br>
																									</div>
																							</br>
																							<div>
																							  <input id="mpn" name="mpn" autocomplete="off" maxlength="50" size="49" type="text">
																							  </div>
                                                                                       
                                                                                            </div>

                                                                                                </fieldset>
                                                                                            </div>
                                                                                          
                                                                                       
                                                                                           </div>
                                                                                    </div>
                                                                                 
                                                                                
                                                                                </div>
                                                                            
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="idt">
                                                      
                                                    </div>
                                                </div>
                                            </fieldset>
											</div>
											
											</br>
									
											 <div>
                                     
                                        <div >
                                            <div>
                                                <h2>Set a price and shipping details</h2>
                                            </div>
                                        </div>
										</br>
                                        <fieldset>
                                            <div>
											
											<table>
											<tr>
											<td>
													 <input id="isBiddingEnabled" name="isBiddingEnabled" value="BiddingEnabled" type="checkbox">
											
                                                 <label id="" for="isBiddingEnabled">Enable Bidding</label><br>
											</td>
											
											</tr>
											<tr>
											<td>
												<label id="" for="startPrice">Start auction bidding
                                                    at $&nbsp;</label>
											</td>
											<td>
												 <input id="startPrice" name="startPrice" value="0.99" size="10" maxlength="10" type="text">
											</td>
											<td>
												 <label id="" for="duration">&nbsp;lasting for&nbsp;</label>&nbsp; <a name="duration_anch"></a>
                                                    <select id="duration" name="duration">
                                                    <option value="3">3 Days</option>
                                                    <option value="5">5 Days</option>
                                                    <option selected="selected" value="7">7 Days</option>
                                                    <option value="10">10 Days</option>

                                                    </select>
											</td>
											</tr>
											<tr>
											<td>
												 <div style="margin-top:5px">  Product Quantity </div>
											</td>
											<td>
												<input name="itemQty" id="itemQty" type="text">
											</td>
											</tr>
											<tr>
											<td>
												 <label id="" for="binPrice">
                                            <br >
                                            Buy It Now price $ &nbsp;&nbsp; &nbsp;</b></label>
											</td>
											<td>
												 <div> 
                                                <input id="binPrice" name="binPrice" size="10" maxlength="10" class="enabled" type="text">
                                            </div>
											</td>
											</tr>
											</table>
  </br>
                                             
												
                                            </div>
                                            
                                           
                                            
                                        </fieldset>
                                              
                                            </div>
											
											
					  <div id="returnPolicy">
					  
                                                <span></span>
                                                <div class="fl" style="margin-top: 5px; margin-left: -4px;">
                                                  
                                                </div>
                                                <div  style="margin-top: 7px;">
                                                    <label for="returnsAccepted"><b>All returns accepted.
                                                        Your buyer has to contact you within 14 days after the
                                                        item was received for a refund.<br> The buyer would
                                                        pay for return shipping.</b>
                                                    </label>
                                                </div>
                                                
                                                <input id="itemReturnedWithin" name="itemReturnedWithin" value="Days_14" type="hidden"><input id="refundGivenAs" name="refundGivenAs" value="MoneyBack" type="hidden"><input id="returnsPaidBy" name="returnsPaidBy" value="Buyer" type="hidden"><input id="textArea" name="textArea" value="The buyer has 14 days to return the item (the buyer pays shipping fees). The item will be refunded." type="hidden">
                                            </div>						
		

				  <div class="sec">
                                    </br>
                                        <div class="secHead" id="priceHd">
                                            <div>
                                                <h2>Please provide your SSN details<br>
</h2>
                                            </div>
                                        </div>
                                        <fieldset class="fldBox">
                                            <div id="paymentmethod_sec">
                                                <div>
                                                  </br>
                                                    <div>
                                                        <label id="" for="paypalEmail">Enter your SSN here</label><a name="paypalEmail_anch"></a>
														<input id="paypalEmail" name="paypalEmail" value="" maxlength="10" size="30" type="text">
                                                    </div>
                                                    <br>
                                                                                                      
                                                </div>
                                            </div>
                                            <div>
                                                <input id="brMasterChk" name="brMasterChk" value="true" checked="checked" type="checkbox"><label for="brMasterChk">Block bids from buyers who might
                                                    make transactions more difficult or expensive.</label>
                                            </div><input id="payPalPreSelect" name="payPalPreSelect" value="true" style="display: none;" type="checkbox">
                                        </fieldset>
                                    </div>

				 <div id="footer">
                                    <div id="footerLt">
									</br>
                                        <div id="footerTxt">
                                            <span id="finalFeeRow" name="finalFeeRow">Fee to
                                                insert your listing:&nbsp; 
                                                <span id="finalFeeTxt"><span id="feeBox_final">$0.35</span></span>
                                            </span><span id="footerConvertListingLyr" name="footerConvertListingLyr" style="display: none;"><div class="fl" style="margin-right: 5px;">
                                                    <img src="eBay%20%3E%20Sell%20%3E%20Create%20Your%20Listing_files/iconAlert_16x16.gif" alt="Warning" border="0">
                                                </div>
                                               
                                                </span>
                                        </div>
                                        <div id="footerRt">
                                            <div id="footerBtns">
                                                <span class="btn_whiteRt">
												</br>
												<input id="aidZ1" name="aidZ1" class="btn_whiteLt" value="Save and preview" type="submit"></span>
                                           </div>
                                            
                                        </div>
                                    </div>
                                </div>
								
								
								
									</div>
</form >
  <script type="text/javascript">
  $(document).ready(function()
  {
  $("#header").load("header"); 

    $.ajax({
    type: 'get',
    contentType: 'application/json',
    url: '/GetCategories',
                        success: function(data) {
                                                 $('#Category').html("");
												 $('#Category').append('<option value=-1>-Select-</option>');
                          $.each(data, function() {
            $("#Category").append(
                $('<option/>', {
                    value: this.categoryId,
                    html: this.name
                })
            );
        });
                                                    
    }

                      });
});

   $(function(){
                $('#Category').click(function(e){
                   
                  var value=$("#Category").val();

                  $.ajax({
                             type: 'get',
                           contentType: 'application/json',
                              url: '/GetSubCategories?categoryId='+value,
                                success: function(data) {
                                                 $('#SubCategory').html("");
                          $.each(data, function() {
                          $("#SubCategory").append(
                              $('<option/>', {
                    value: this.subcategoryId,
                    html: this.name
                      })
            );
        });
                                                    
    }

                      });
                    
                    
                });
    });



  </script>
  </script> <script type="text/javascript" src="scripts/gen_validatorv4.js">
</script> <script type="text/javascript">

var frmvalidator  = new Validator("ezForm");
frmvalidator.addValidation("title","req","Please enter product title");
frmvalidator.addValidation("title","maxlen=20","Maximum length is 80 charcter");

frmvalidator.addValidation("paypalEmail","maxlen=10","The maxmimum length for SSN is 10 Characters");
frmvalidator.addValidation("paypalEmail","numeric","Please enter numberic data in SSN");
frmvalidator.addValidation("paypalEmail","regexp=^\d{9}$","Please enter numberic data in SSN");

rmvalidator.addValidation("itemQty","numeric","Please enter numeric data in quantity");
frmvalidator.addValidation("itemQty","gt=0","Please enter numeric data in quantity");

frmvalidator.addValidation("itemCondition","req","Please select condition");
rmvalidator.addValidation("binPrice","numeric","Please enter numeric data in price");

frmvalidator.addValidation("binPrice","gt=0","Please enter value greater than 0");

frmvalidator.addValidation("imageFile","regexp=([^\\s]+(\\.(?i)(jpg))$)","Please upload a .jpg file");

frmvalidator.addValidation("itemQty","gt=0","Please enter qty value greater than 0 ");

frmvalidator.addValidation("mpn","req","Please enter mpn value");

frmvalidator.addValidation("paypalEmail","req","Please enter SSN");




</script>


</div>
   

  </body>
</html>
