
<!DOCTYPE html>
<html>
<head>
 <script src="/scripts/jquery-1.11.1.min.js"></script>
 <script type="text/javascript">
  $(document).ready(function()
  {
  alert('hhh');
  $("#header").load("header"); 
  }
</script>
</head>
<body>
<div id="page">
<div id="header">


</div>


</div>
</body>

</html>